#Mopidy==3.0.2
-e git+https://github.com/mopidy/mopidy.git@develop#egg=Mopidy
Mopidy-dLeyna==2.0.1
Mopidy-Iris==3.52.4
Mopidy-MPD==3.0.0
Mopidy-Podcast==3.0.0
Mopidy-Scrobbler==2.0.0
Mopidy-Spotify==4.0.1
